<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="connectionMaker" class="tobi.ch1.dao.SimpleConnectionMaker" />
  <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    <property name="driverClass" value="com.mysql.jdbc.Driver" />
    <property name="url" value="jdbc:mysql://localhost/users" />
    <property name="username" value="root" />
    <property name="password" value="root" />
  </bean>
  <bean id="userDao" class="tobi.ch1.dao.UserDao">
    <property name="connectionMaker" ref="connectionMaker" />
    <property name="dataSource" ref="dataSource" />
  </bean>
</beans>